
#finish {
    
    max-width: max-content;
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    align-content: center;
    justify-items: center;
    position: absolute;
    left: 74vw;
    top: 65vh;

}


#h11 {
    text-align: center;
    font-size: 30px;
}

#h22{
    text-align: center;
    color: grey;
    font-size: medium;
    margin: 25px;
}